In [23]:
import os
import pandas as pd
import numpy as np

In [24]:
path = 'data/'
file = 'number.csv'

df = pd.read_csv(path+file)

In [26]:
df = df.reset_index()
df =

      index    회차          날짜  1등_당첨자수  2등_당첨자수   1   2   3   4   5   6  보너스
0         0  1024  2022.07.16        8       63   9  18  20  22  38  44   10
1         1  1023  2022.07.09        9       72  10  14  16  18  29  35   25
2         2  1022  2022.07.02        5       63   5   6  11  29  42  45   28
3         3  1021  2022.06.25       12       56  12  15  17  24  29  45   16
4         4  1020  2022.06.18       13       77  12  27  29  38  41  45    6
...     ...   ...         ...      ...      ...  ..  ..  ..  ..  ..  ..  ...
1019   1019     5  2003.01.04        0        0  16  24  29  40  41  42    3
1020   1020     4  2002.12.28        0        1  14  27  30  31  40  42    2
1021   1021     3  2002.12.21        1        0  11  16  19  21  27  31   30
1022   1022     2  2002.12.14        1        2   9  13  21  25  32  42    2
1023   1023     1  2002.12.07        0        1  10  23  29  33  37  40   16

[1024 rows x 12 columns]